@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize';

@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url('../assets/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
         url('../assets/fonts/PPNeueMontreal-Medium.woff') format('woff'),
         url('../assets/fonts/PPNeueMontreal-Medium.ttf')  format('truetype');
  }
  @font-face {
    font-family: 'PPNeueMontreal-Bold';
    src: url('../assets/fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
         url('../assets/fonts/PPNeueMontreal-Bold.woff') format('woff'),
         url('../assets/fonts/PPNeueMontreal-Bold.ttf')  format('truetype');
  }
  @font-face {
    font-family: 'PPNeueMontreal-Regular';
    src: url('../assets/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
         url('../assets/fonts/PPNeueMontreal-Regular.woff') format('woff'),
         url('../assets/fonts/fPPNeueMontreal-Regular.ttf')  format('truetype');
  }
  

body{
    font-size: 20px;
    overflow-x: hidden;
    max-width: 100%;
    color: #061A29;
    font-family: 'PPNeueMontreal-Regular', sans-serif;
}

/// CASE STUDY //// MOBILE /////

.main{
    margin: 35px;
    margin-top: 100px;
}

.section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
    grid-column-gap: 10px;
}

.mgrids1{
    grid-column-start: 1;
}

.mgrids2{
    grid-column-start: 2;
}

.mgride-1{
    grid-column-end: -1;
}

.head__log{
    width:150px;
}

.section__gdtitre{
    font-family: 'PPNeueMontreal-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 300px;
}

.section__titre{
    font-family: 'PPNeueMontreal-Bold', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.2;
    margin-top: -10px;
}

.section__sstitre{
    font-family: 'PPNeueMontreal-Bold', sans-serif;
    font-weight: 500;
    font-size: 33px;
    margin-bottom: 0px;
    margin-top: 80px;
}

.section__para{
    margin-top: 20px;
    font-size: 18px;
    
}

.section__gdpara{
    font-size: 22px;
    font-family: 'PPNeueMontreal-Medium', sans-serif;
    margin-bottom: 10px;
}

ul{
    list-style: none;
    font-family: 'PPNeueMontreal-Medium', sans-serif;
    
}

li{
    margin-bottom: 30px;
}

.img{
    width: auto;
    height: 400px;
}

.section__img{
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.section__gdimg{
    width: 100vw;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}




/// LANDING PAGE //// MOBILE /////

.body {
    background-image: url(../assets/images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.element__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1000;
    background-size: contain;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.deco--position{
    position: absolute;
    left: -50px;
}

.header{
    position: absolute;
    top: 0;
    left: 50%;
    transform:translateX(-50%);
    width: 400px;
    height: 200px;
}

.head{
    position: fixed;
    left: 30px;
    top: 30px;
    z-index: 1000;
  }

.element{
    display: flex;
    flex-direction: column;
    margin: 200px 55px 0 55px;
}

.header__deco{
    margin-top: -50px;
    scale: 1.2;
}

.header__logo{
    position: absolute;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
    top: 50%;
    margin-top: -50px;
    z-index: 100;
    max-width: 150px;
    fill:white;
}

.element__img{
    width: 205px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.element__titre{
    font-family: 'PPNeueMontreal-Bold', sans-serif;
    font-size: 33px;
    line-height: 1.3;
    text-align: center;
    position: relative;
    max-width: 400px;
    min-width: 350px;
    left: 50%;
    transform: translateX(-50%);
}

.element__sstitre{
    font-family: 'PPNeueMontreal-Bold', sans-serif;
    font-size: 28px;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 0px;
    max-width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

p{
    line-height: 1.7;
    max-width: 400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

a{
    text-decoration: none;
    color: #061A29;
}

a:hover{
    transition: 0.2s;
    opacity: 0.5;
}

.element__para{
    font-size: 20px;
    margin-top: 30px;
}

.element__titre--align{
    text-align: center;
}

.element__para--align{
    text-align: center;
}

.color{
    color:#1E3AE0;
}

.element__scroll{
    position: relative;
    width: 35px;
    left: 50%;
    transform:translateX(-50%);
}

footer{
    display: flex;
    flex-direction: column-reverse;
    margin: 150px 55px 45px 55px;
}

small{
    text-align: center;
}

.element__proto{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: -177px;
    margin-top: 20px;
}

.centrer{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction:row;
    padding: 0;
    gap: 30px;
    justify-content: center;
}

.lien{
    position: relative;
    top:4px;
    width: 45px;
}

.align--left{
    position: fixed;
    left: 450px;
    top: 10px;
    z-index: 1000;
  }


@media (min-width: 500px) {
    .body{
        background-image: url(../assets/images/bg.png);
        
    }
}

@media (min-width: 600px) {
    .body{
       
        background-image: url(../assets/images/bg-tablet.png);
    }

    

    .section__img{
        margin-top: 50px;
        margin-bottom: 35px;
    }

    .section__list{
        max-width: 400px;
        
    }
}

@media (min-width: 1380px) {

     //CASE STUDY // DESKTOP //

      .section__titre{
          font-size: 81px;
          max-width: 800px;
      }

     .dgride-1 {
        grid-column-end: -1;
      }
      
     .dgrids1{
        grid-row-start: 1;
    }
    
    .dgrids2{
        grid-row-start: 2;
    }

    .dcgrids1{
        grid-column-start: 1;
    }
    
    .dcgrids2{
        grid-column-start: 2;
    }

    .dcgrids3{
        grid-column-start: 3;
    }

    .dcgrids4{
        grid-column-start: 4;
    }

    .dcgrids5{
        grid-column-start: 5;
    }

    .dcgrids6{
        grid-column-start: 6;
    }
    
    .dcgride-1{
        grid-column-end: -1;
    }

    .section{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-flow: row;
        grid-column-gap: 10px;
    }
    
    .section__para{
        max-width: 600px;
        font-size: 22px;
    }

    .align--text{
        margin-top: 90px;
    }
    
    .align--text2{
        margin-top: -40px;
    }
    

    .section__gdpara{
        max-width: 600px;
        font-size: 26px;
    }

    .section__img{
        margin-top: 100px;
        margin-bottom: 70px;
    }

    .section__list{
        max-width:600px ;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        margin: 150px 55px 20px 55px;
    }
    
    small{
        padding: 0;
        margin: 0;
        height: 25px;
    }
    
    footer ul{
        list-style: none;
        height: 30px;
        padding: 0;
        gap: 30px;
        margin-top:-3px;
        justify-content: center;
    }
    


    //LANDING PAGE // DESKTOP //

    .body{
       
        background-image: url(../assets/images/bg-desktop.png);
    }

    header{
        position: absolute;
        top: 0;
        left: 50%;
        transform:translateX(-50%);
        width: 800px;
        height: 400px;
    }

    .header__deco{
        margin-top: -50px;
        scale: 2;
    }

    .header__logo{
        margin-top: -30px;
        max-width: 200px;
    }

    .element__img{
        width: 245px;
    }
    

    p{
        font-size: 20px;
    }

    .element{
        text-align: center;
    }

    .element__scroll{
        display:none;
    }

    .text--margin{
        margin-top: -39px;
    }
    
}